@model IEnumerable<Models.Product>




<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">

       @{
           ViewBag.Title = "Index";
           Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }

        <!--banner-->
        <div class="banner">
            <h2>
                <a href="index.html">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Contact us</span>
            </h2>
        </div>
        <!--//banner-->
        <!--grid-->
        <div class="validation-system">

            <div class="validation-form">
                <!---->

                <form>


                    <html>
                    <body>
                        <div id="page-wrapper" class="gray-bg dashbard-1">
                            <div class="content-main">

                                <p>
                                    @Html.ActionLink("New Sale", "Index")
                                </p>


                                @using (Html.BeginForm("Index", "Cashier"))
                                {

                                    @Html.AntiForgeryToken()
                                    {
                                        <p>
                                            &nbsp;&nbsp;Product: <input type="text" name="id" placeholder="Search..." />
                                            <input type="submit" value="Search" class="btn btn-default" /><br /><br />
                                        </p>

                                    }


                                    <table class="table">
                                        <tr>
                                            <th>
                                                Product Id
                                            </th>

                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Image
                                            </th>
                                            <th>
                                                Price
                                            </th>
                                            <th></th>
                                        </tr>



                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ProductId)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                                <td>
                                                    <img src="/Products/RetrieveImage/@item.ProductId" alt="" height=100 width=100 class="thumbnail" />
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Price)
                                                </td>

                                            </tr>


                                        }

                                    </table>





                                    <table class="table">
                                        <tr></tr>
                                        <tr></tr>
                                        <tr>
                                            <th>
                                                Total
                                            </th>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>


                                            <td></td>
                                            <th>@Html.Label(" R" + Session["Total"].ToString())</th>

                                        </tr>


                                        <tr>
                                            <th>
                                                Cash

                                            </th>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                            <th>@Html.TextBox("cash")</th>
                                        </tr>
                                        <tr>
                                            <th>
                                                Change
                                            </th>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                            <th>@Html.Label(" R") @ViewBag.Change</th>
                                            <td></td>
                                        </tr>

                                    </table>

                                    @ViewBag.Error1

                                    <p><input type="submit" value="Process" class="btn btn-default" /></p>
                                }

                            </div>
                        </div>
                    </body>
                </html>



                </form>

                <!---->
            </div>

        </div>
        <!--//grid-->
        <!---->



    </div>
</div>