@using Models;
@model IEnumerable<Models.Product>

@{
    ViewBag.Title = "Index";
}

@foreach (Product product in ViewBag.ProductList)
{
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <a href="@Url.Action("Details", "Catalog", new { id = product.ProductId })">
                        <img src="/Products/RetrieveImage/@product.ProductId" alt="" height=150 width=150 class="thumbnail" />
                    </a>
                    <h2><strong>@product.Title</strong></h2>
                    <p>@product.Price.ToString("R0.00")</p>
                    <p>

                        <ul class="nav nav-pills nav-justified">

                            @*<li><a href="@Url.Action("Buy", "Cart", new { id = product.productId })"><i class="glyphicon glyphicon-shopping-cart"></i>Add to cart</a></li>
                            <li><a href="@Url.Action("addWishList", "wishList", new { id = product.productId })"><i class="glyphicon glyphicon-heart"></i>Add to wishlist</a></li>*@

                        </ul>
                    </p>
                </div><br /><br />
            </div>
        </div>
    </div>

}



<div class="special">
    <div class="container">
        <h3>Special Offers</h3>
        <div class="specia-top">
            <ul class="grid_2">
                <li>
                    <a href="details.html"><img src="images/8.jpg" class="img-responsive" alt=""></a>
                    <div class="special-info grid_1 simpleCart_shelfItem">
                        <h5>Lorem ipsum dolor</h5>
                        <div class="item_add"><span class="item_price"><h6>ONLY $40.00</h6></span></div>
                        <div class="item_add"><span class="item_price"><a href="#">add to cart</a></span></div>
                    </div>
                </li>
                </ul>
            </div>
        </div>
    </div>
