@model IEnumerable<Models.Applicant>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content" class="span10">

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }


    <!-- start: Content -->



    <ul class="breadcrumb">
        <li>
            <i class=""></i>
            <a href="../Home/index.html">Home</a>
            <i class=""></i>
        </li>
        <li>
            >>>>
            <a href="#">Applicants</a>
        </li>
    </ul>




    <div class="row-fluid sortable">
            <div class="box span11">
                <div class="box-header" data-original-title>
                    <h2><i class="halflings-icon edit"></i><span class="break"></span>Applicants</h2>
                    <div class="box-icon">
                        <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <form class="form-horizontal">
                        <fieldset>

                            <table class="table">
                                <tr>
                                    <th>
                                        Ref Number
                                    </th>

                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Surname
                                    </th>
                          
                                    <th>
                                       Cell
                                    </th>
                                    <th>
                                       Date
                                    </th>

                                    <th>
                                        Action
                                    </th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("Details", "Applicants", new { id = item.ApplicantID })"><span>@item.AppRefNumber</span></a>
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastName)
                                        </td>
                                       
                                        <td>
                                            @Html.DisplayFor(modelItem => item.cell)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicationDate)
                                        </td>

                                        <td>
                                            <ul class="nav navbar-nav" @*style=" background: url('/Content/images/11.jpg') repeat-x; width: 225px; "*@>

                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">More Options<b class="caret"></b></a>
                                                    <ul class="dropdown-menu" @*style=" background: url('/Content/images/11.jpg'); "*@>
                                                        <li>@Html.ActionLink("Accept", "Details", new { id = item.ApplicantID })</li>
                                                        <li>@Html.ActionLink("View Application", "Details", new { id = item.ApplicantID })</li>
                                                        <li>@Html.ActionLink("Delete", "Delete", new { id = item.ApplicantID })</li>

                                                    </ul>
                                                </li>
                                            </ul>
                                           
                                        </td>
                                    </tr>
                                }

                            </table>

                        </fieldset>
                    </form>

                </div>
            </div>

        </div>

    <!-- end: Content -->

</div>