@model Models.Job

@{
    
}

<div class="special">
    <div class="container">
        @{
            ViewBag.Title = "Details";
            Layout = "~/Views/Shared/_Layout.cshtml";
        }

        <h3 style="background-color:lightgray">Job Details</h3>
        <div class="special">
            <div class="container">
                
                <div class="specia-top">

                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.jobCode)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.jobCode)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.jobTitle)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.jobTitle)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.jobDescription)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.jobDescription)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.jobRequirements)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.jobRequirements)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.jobType)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.jobType)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.closingDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.closingDate)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        &nbsp; &nbsp;<button onclick="location.href='@Url.Action("Index", "Careers")';return false;">Back</button> 
                        &nbsp; &nbsp;&nbsp; &nbsp; <button onclick="location.href='@Url.Action("Create", "Applicants")';return false;">Apply Now</button>
                    </p>
                    

                </div>
            </div>
        </div>



    </div>
</div><br /><br />












