@using Models;
@model IEnumerable<Models.Product>

<div class="special">
    <div class="container">

        @{
            ViewBag.Title = "Index";
        }

        <!--HOME PAGE CONTENT -->



            <div class="special">
                    <div class="container">
                        <h3>Featured Products</h3>
                        
                        
                        @foreach (Product product in ViewBag.ProductList)
                        {
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="@Url.Action("Details", "Catalog", new { id = product.ProductId })">
                                                <img src="@Url.Content("~/Content")/images/@product.Photo" width="200" height="300" class="glyphicon-picture" alt="Product" />
                                            </a>
                                            <h2><strong>@product.Title</strong></h2>
                                            <p>@product.Price.ToString("R0.00")</p>
                                            <p>

                                                <ul class="nav nav-pills nav-justified">

                                                    <li><a href="@Url.Action("Buy", "Cart", new { id = product.ProductId })"><i class="glyphicon glyphicon-shopping-cart"></i>Add to cart</a></li>
                                                    @*<li><a href="@Url.Action("addWishList", "wishList", new { id = product.productId })"><i class="glyphicon glyphicon-heart"></i>Add to wishlist</a></li>*@

                                                </ul>
                                            </p>
                                        </div><br /><br />
                                    </div>
                                </div>
                            </div>

                        }

                 </div>
           </div>

    </div>
</div> <br /><br /><br />  

   


        
