@model Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="panel-body">
    <div class="col-md-6">
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Genre.Catagory)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genre.Catagory)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Size.ActualSize)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Size.ActualSize)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Supplier.SupplierName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Supplier.SupplierName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Color)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Color)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>

        </dl>
    </div>
    <div class="col-md-6">
        <img src="/Products/RetrieveImage/@Model.ProductId" alt="" height=300 width=300 class="thumbnail" />
    </div>
</div>
<div class="panel-footer">

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>
