@model IEnumerable<Models.Size>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActualSize)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActualSize)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sizeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.sizeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sizeId })
        </td>
    </tr>
}

</table>
