<div id="content" class="span10">
    @{
        ViewBag.Title = "Create";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    @Html.ActionLink("List Roles", "Index") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div>
            Role name
        </div>
        <p>
            @Html.TextBox("RoleName") @ViewBag.ResultMessage
        </p>
        <input type="submit" value="Save" class="btn btn-success" />
    }


    </div>






