@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

<div id="content" class="span10">

    @{
        ViewBag.Title = "Edit";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }


    <!-- start: Content -->



    <ul class="breadcrumb">
        <li>
            <i class=""></i>
            <a href='@Url.Action("Index", "Admin")'>Home</a>
            <i class=""></i>
        </li>
        <li>
            >>>>
            <a href="#">Roles</a>
        </li>
    </ul>




    <div class="row-fluid sortable">
        <div class="box span11">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon edit"></i><span class="break"></span>Roles Management</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form class="form-horizontal">
                    <fieldset>


                        @Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
                        <hr />
                        <div>
                            @foreach (var role in Model)
                            {
                                <p>
                                    <strong>@role.Name | </strong>
                                    <span onclick="return confirm('Are you sure to delete?')"><a href="~//Roles/Delete?RoleName=@role.Name" class="delLink" style="color:red;">Delete</a></span> |
                                    @Html.ActionLink("Edit", "Edit", new { roleName = @role.Name })
                                </p>
                            }
                        </div>


                    </fieldset>
                </form>

            </div>
        </div>

    </div>

    <!-- end: Content -->

</div>












<h2>Edit Role</h2>
@Html.ActionLink("List Roles", "Index") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div>
        Role name
    </div>
    <p>
        @Html.TextBoxFor(model => model.Name)
    </p>
    <input type="submit" value="Save" class="btn btn-default" />
}
